
<footer style="background-color:  #ef5a6f;">
    <!-- class="footer fixed-bottom " -->
    <div class="f-info">
        
        
        <div class="f-info-links">
            <table id="f-table">
            <tr> 
                <th class="f-head">General</th>
                <th class="f-head">Services</th>
                <th class="f-head">Book Lab Tests at Home</th>
                <th class="f-head">Product Categories</th>
            </tr>
            <tr>
                <td> <a href="/policy/privacyPolicy">Privacy policy</a></td>
                <td><a href="/doctors">All Doctors List</a></td>
                <td>RT PCR Test At Home</td>
                <td><a href="/medicines">View All Medicine</a></td>
            </tr>
            <tr>
                <td><a href="/policy/terms">Terms</a></td>
                <td><a href="/docCategory/gynaecologists">Consult Gynaecologists</a></td>
                <td>Book Lab Tests at Home</td>
                <td><a href="/category/womenCare">Women Care</a></td>
            </tr>
            <tr>
                <td><a href="/policy/refundPolicy">Refund Policy</a></td>
                <td><a href="/docCategory/dermatologists">Consult Dermatologists</a></td>
                <td>Hemogram Test</td>
                <td><a href="/category/personalCare">Personal Care</a></td>
            </tr>
            <tr>
                <td><a href="/policy/shippingPolicy">Shipping Policy</a></td>
                <td><a href="/docCategory/paediatricians">Consult Paediatricians</a></td>
                <td>Thyroid Profile Test (T3 T4 Tsh Test)</td>
                <td><a href="/category/babyCare">Baby Care</a></td>
                
            </tr>
            <tr>
                <td><a href="/policy/returnsPolicy">Returns Policy</a></td>
                <td><a href="/docCategory/ent">Consult ENT Specialists</a></td>
                <td>Complete Blood Count (CBC Test)</td>
                <td><a href="/category/NutritionalDrinks">Nutritional Drinks</a></td>
            </tr>
            
        </table>

        </div>
    </div>
    <hr style="width: 90%; margin: auto;">
    <div class="footer2">
        <h2>DIPTI MEDICAL</h2>
        <div>
            <p>&copy;Dipti Medical</p>
            <p>All rights reserved</p>
        </div>
        <div class="f-info-socials">
            <p>Find us on</p>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        
    </div>
    
</footer>