
<footer style="background-color:  #4ccee8;">
    <!-- class="footer fixed-bottom " -->
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;Dipti Medical</div>
        <div class="f-info-brand">All rights reserved</div>
        <div class="f-info-links">
            <!-- <a href="/privacy" style="margin-right: 2rem;">Privacy</a> -->
            <a href="/terms" style="margin-right: 2rem;">Terms</a>
            <a href ="/refundPolicy" style="margin-right: 2rem;">Refund Policy</a>
            <a href ="/shippingPolicy" style="margin-right: 2rem;">Shipping Policy</a>
            <a href ="/returnsPolicy" style="margin-right: 2rem;">Returns Policy</a>

        </div>
    </div>
</footer>