<header class="sticky-top">
  <nav class="navbar navbar-1 navbar-expand bg-body-light border-bottom sticky">
    <div class="container-fluid">
      <!-- <a href="/"
        ><img 
          class="navbar-brand"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1_Crj4a0TQ0ygukVHvHY6nlXH7mEhX9aUkw&s"
      /></a> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="address" href="/">DIPTI MEDICAL</a>
        </div>
        <% if(page == "Home" || page == "razorPay" || page == "phonePe" || page == "cash") { %>
          <%} else{ %>
        <a href="/search" class="small-search-bar-link" >
          <div class="small-search-bar">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
            <p style="margin: 1.2rem; opacity: 0.7">Search Medicines</p>
          </div>
        </a>
        <%}%>

        <div class="d-flex">
          <!-- Cart -->
          <a
            class="text-reset me-3 position-relative"
            href="/cart"
            style="margin-top: 0.5rem"
          >
            <i class="fa-solid fa-cart-shopping fa-xl"></i>
            <% if(session.cart) { %>
            <span
              class="badge position-relative rounded-pill badge-notification bg-danger"
              style="top: -12px; left: -10px"
              ><%= session.cart.totalQty %></span
            >
            <% } else { %>
            <span
              class="badge position-relative rounded-pill badge-notification bg-danger"
              style="top: -12px; left: -10px"
              >0</span
            >
            <% } %>
          </a>
          <% if(currUser && currUser.username == "Admin"){ %>
          <a class="text-reset me-4 position-relative" href="/adminDash">
            <button type="button" class="btn btn-outline-danger">
              Admin DashBoard
            </button>
          </a>
          <% } %>
          <!-- Login -->
          <% if(!currUser) { %>
          <a class="text-reset me-4 position-relative" href="/login">
            <button
              type="button"
              class="btn btn-outline-danger"
              style="transform: scale(1.2)"
            >
              Login <i class="fa-regular fa-circle-user"></i>
            </button>
          </a>
          <% } %><% if(currUser){ %>
          <a
            class="text-reset me-2 position-relative"
            href="/myAcc"
            style="margin-top: 0.5rem"
          >
            <i class="fa-solid fa-user fa-xl"></i>
          </a>

          <% } %>
        </div>
      </div>
    </div>
  </nav>
  <% if(page != "Search"){ %>
  <nav class="navbar-2 navbar-expand-md bg-body-light sticky">
    <div class="navbar-nav-2">
      <% if(page == "Home") { %>
      <a
        class="nav-link-1"
        href="/"
        style="text-decoration: underline; color: black"
        >Buy Medicines</a
      >
      <%} else{ %>
      <a class="nav-link-1" href="/">Buy Medicines</a>
      <% } %> <% if(page == "Doctor") { %>
      <a
        class="nav-link-1"
        href="/doctors"
        style="text-decoration: underline; color: black"
        >Find Doctors</a
      >
      <%} else{ %>
      <a class="nav-link-1" href="/doctors">Find Doctors</a>
      <% } %><% if(page == "labTest") { %>
      <a class="nav-link-1" href="/lab" style="text-decoration: underline; color: black">Lab Tests</a>
        <%} else{ %>
      <a class="nav-link-1" href="/lab">Lab Tests</a>
      <% } %><% if(page == "healthRecords") { %>
      <a class="nav-link-1" href="/healthRecords" style="text-decoration: underline; color: black">Health Records</a>
      <%} else{ %>
      <a class="nav-link-1" href="/healthRecords">Health Records</a>
    <% } %>
    </div>
  </nav>
  <% if(page == "policies"|| page == "razorPay" || page == "phonePe" || page == "cash") { %> <%} else{ %>
  <nav class="navbar-3 navbar-expand-md bg-body-light sticky-top">
    <div class="navbar-nav-3">
      <a class="nav-link" href="/medicines"><p>Our Products</p></a>&nbsp;&nbsp;
      <a class="nav-link" href="/category/babyCare"><p>Baby Care</p></a
      >&nbsp;&nbsp;
      <a class="nav-link" href="/category/NutritionalDrinks"
        ><p>Nutritional Drinks & Supplements</p></a
      >&nbsp;&nbsp;
      <a class="nav-link" href="/category/womenCare"><p>Women Care</p></a
      >&nbsp;&nbsp;
      <a class="nav-link" href="/category/personalCare"><p>Personal Care</p></a
      >&nbsp;&nbsp;
      <a class="nav-link" href="/category/Ayurveda"><p>Ayurveda</p></a
      >&nbsp;&nbsp;
      <a class="nav-link" href="/"><p>Health Condition</p></a>&nbsp;&nbsp;
    </div>
  </nav>
  <% } %> <% } %>
</header>
