<% layout("/layouts/boilerplate") %> 
<%- include("../includes/navbar.ejs")%>
    <%- include("../includes/flash.ejs")%>


  <form style="width: 80%; margin: auto; margin-top: 2rem;" action="/doctors/add" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
  <h3 class="mb-4">Apply as a Doctor</h3>
  <div class="mb-3" >
  <label for="specialization" class="form-label">Specialization</label>
    <input type="text" id="specialization" name="doctor[specialization]" class="form-control" required>
  <div class="invalid-feedback">
              Please enter specialization!
          </div>  
  </div>
     <div class="mb-3" >
     <label for="experience" class="form-label">experience</label>
    <input id="experience" class="form-control" name="doctor[experience]" required>
    </div>
    <div class="mb-3" >
    <label for="image" class="form-label">Upload Image</label>
          <input
            name="doctor[image]"
            type="file"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please add a Image</div>
</div>
    <div class="mb-3" >
     <label for="fees" class="form-label">fees</label>
    <input id="fees" class="form-control" name="doctor[fees]" required>
    </div>
    <div class="mb-4" >
    <label for="availableSlots" class="form-label">Available Slots (comma separated)</label>
    <input type="text" id="availableSlots" class="form-control" name="doctor[availableSlots]" required>
    </div>
    <button type="submit" class="btn btn-dark mb-4">Add Doctor</button>
  </form>

      <!-- <script src="/JS/validation.js"></script> -->
    <%- include("../includes/footer.ejs")%>
