<% layout("/layouts/boilerplate") %>
<%- include("../includes/smNavBar.ejs")%>
<%- include("../includes/navbar.ejs")%>


<div class="banner" style="height: 15rem">
  <img
    src="https://img.freepik.com/premium-photo/banner-with-colorful-pills-blue-background-healthcare-medicine-concept-flat-lay_150893-7583.jpg"
    alt="failed"
    style="width: 100%; height: 15rem; object-fit: fill; z-index: -1"
  />
  <h3 class="search-header">Buy Medicines and Essentials</h3>
  <a href="/search" style="text-decoration: none; width: 100%;">
    <div class="form-control search-bar" type="search">
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      <p style="margin: 1.2rem; opacity: 0.7">Search Medicines</p>
    </div>
  </a>
</div>

<div class="easy">
  <a>
    <div class="easy-go" style="background-color: rgb(229, 249, 248)">
      <img
        src="https://png.pngtree.com/png-clipart/20211017/original/pngtree-pharmacy-flat-style-illustration-pharmacy-house-png-image_6855686.png"
        class="easy-go-img"
      />
      <p class="easy-go-text">Pharmacy Near Me</p>
    </div>
  </a>
  <a>
    <div class="easy-go" style="background-color: rgb(241, 237, 253)">
      <img
        src="https://p7.hiclipart.com/preview/892/65/113/hospital-free-content-patient-clip-art-hopital-clipart.jpg"
        class="easy-go-img"
      />
      <p class="easy-go-text">Hospital Visit</p>
    </div>
  </a>
  <a>
    <div class="easy-go" style="background-color: rgb(255, 243, 214)">
      <img
        src="https://png.pngtree.com/png-clipart/20240314/original/pngtree-online-doctor-consultation-application-or-medical-application-png-image_14581927.png"
        class="easy-go-img"
      />
      <p class="easy-go-text">Video Consult</p>
    </div>
  </a>
  <a>
    <div class="easy-go" style="background-color: rgb(252, 237, 242)">
      <img
        src="https://freepngimg.com/save/171710-microscope-vector-free-download-image/512x512"
        class="easy-go-img"
        style="margin-left: -8px"
      />
      <p style="margin-right: 36px; margin-top: 12px">Lab Test</p>
    </div>
  </a>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<div class="cover">
  <button class="left" onclick="leftScroll()">
    <i class="fas fa-angle-double-left"></i>
  </button>
  <div class="scroll-images">
    <div class="child">
      <img
        src="https://images-static.nykaa.com/uploads/3bedc04e-b172-4be8-858a-a14007789de1.jpg?tr=cm-pad_resize,w-600"
        class="child-img"
      />
    </div>
    <div class="child">
      <img
        src="https://i.pinimg.com/originals/72/eb/7a/72eb7a37d97282320114733414b5886e.png"
        class="child-img"
      />
    </div>
    <div class="child">
      <img
        src="https://m.marico.com/images/brands/pbl-banner_(1).jpg"
        class="child-img"
      />
    </div>
    <div class="child">
      <img
        src="https://m.media-amazon.com/images/S/aplus-media-library-service-media/127fb546-40c5-4535-a3cd-f9478080f3b1.__CR0,0,970,600_PT0_SX970_V1___.jpg"
        class="child-img"
      />
    </div>
    <div class="child">
      <img
        src="https://cdn.globalso.com/leistech/banner-1.jpg"
        class="child-img"
      />
    </div>
    <div class="child">
      <img
        src="https://images.apollo247.in/pub/media/catalog/product/r/e/rev0813_a1_5__1.jpg?tr=w-380,q-80,f-webp,dpr-2.625,c-at_max"
        class="child-img"
      />
    </div>
    <div class="child">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF9sVn46JlSTDJIYcdyfRYdKUzykA9dzy5HQ&s"
        class="child-img"
      />
    </div>
    <button class="right" onclick="rightScroll()">
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
  </div>

  <!-- -------------------------------------------------------------------------------------------- -->
  <h2 class="shop" style="margin-top: 15px; margin-left: 11rem">
    Shop By Catagory
  </h2>
  <div class="advt">
    <a href="/medicines" class="nav-link-3 " >
      <div class="advt-card">
        <img
          src="https://images.apollo247.in/pub/media/catalog/category/apollo_products_1.jpg"
          class="advt-img"
        />
        <p>Our Products</p>
      </div>
    </a>
    <a href="/category/babyCare" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://www.bigbasket.com/media/uploads/p/xxl/40268397-2_3-pampers-diaper-pants-small-all-round-protection-anti-rash-blanket-new-improved.jpg"
          class="advt-img"
        />
        <p>Baby Care</p>
      </div>
    </a>
    <a href="/category/summer" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://cdn01.pharmeasy.in/dam/products_otc/H58568/glucon-d-instant-energy-health-drink-tangy-orange-1kg-refill-sipper-free-2-1677525554.jpg?dim=700x0&dpr=1&q=100"
          class="advt-img"
        />
        <p>Summer Essentials</p>
      </div>
    </a>
    <a href="/category/personalCare" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://www.theushop.in/cdn/shop/products/11456_S1_8901030704321_800x.jpg?v=1639634509"
          class="advt-img"
        />
        <p>Personal Care</p>
      </div>
    </a>
    <a href="/category/NutritionalDrinks" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://www.family.abbott/content/dam/an/familyabbott/in-en/ensure/products/ensure-master/1064-x-960.jpg"
          class="advt-img"
        />
        <p>Nutritional Drinks & Suppliments</p>
      </div>
    </a>
    <a href="/category/personalCare" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://hips.hearstapps.com/hmg-prod/images/gh-best-skincare-products-6557978b58b57.png?crop=0.502xw:1.00xh;0.256xw,0&resize=640:*"
          class="advt-img"
        />
        <p>Skin Care</p>
      </div>
    </a>
    <a href="/category/womenCare" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://cdn11.bigcommerce.com/s-xyx0x9ybhg/images/stencil/1280x1280/products/984/8275/whspr-Soft-XL-50s_Whspr-ON-Koala-XXXL_-8s__52106.1690529173.jpg?c=2"
          class="advt-img"
        />
        <p>Women Care</p>
      </div>
    </a>
    <a class="nav-link-3 ">
      <div class="advt-card" >
        <img
          src="https://m.media-amazon.com/images/I/61AZJvJv4nL.jpg"
          class="advt-img"
        />
        <p>Protein Power</p>
      </div>
    </a>
    <a class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://www.thehimalayanorganics.in/cdn/shop/products/GIMainImage_bbadb345-83f6-4611-8427-bf4b94e028ad.jpg?v=1663748449"
          class="advt-img"
        />
        <p>Multivitamins</p>
      </div>
    </a>
    <a class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://m.media-amazon.com/images/I/61D2WGOT0kL._AC_UF894,1000_QL80_.jpg"
          class="advt-img"
        />
        <p>Glucometer & Test Strips</p>
      </div>
    </a>
    <a href="/category/healthDevices" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://images.apollo247.in/pub/media/catalog/product/a/p/apt0020-04.jpg?tr=w-250,q-100,f-webp,c-at_max"
          class="advt-img"
        />
        <p>Health Devices</p>
      </div>
    </a>
    <a href="/category/Ayurveda" class="nav-link-3 ">
      <div class="advt-card">
        <img
          src="https://maharishiayurvedaindia.com/cdn/shop/files/gut-health-ayurvedic-formulation-for-perfect-gut-health-maharishi-ayurveda-india-1_800x.png?v=1692185777"
          class="advt-img"
        />
        <p>Others</p>
      </div>
    </a>
  </div>
</div>

 <%- include("../includes/footer.ejs")%>

    <script src="/JS/script.js"></script>
