 <% layout("/layouts/boilerplate") %>
    <%- include("../includes/flash.ejs")%>
<div class="login">
<div class="loninForm" style=" height: 100vh; width: 70%;"> 
  <!-- class="login col-4" -->
    <div  style=" margin: 10rem 5rem;">
    <h3 style="margin-bottom: 2rem;" >Login</h3>
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-4">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            id="username"
            type="text"
            class="form-control"
            style="border-color: gray;"
            required
          />
          </div>
            <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            class="form-control"
            style="border-color: gray;"
            required
          />
            </div>
            <button class="btn btn-success">Login</button>
        </form>
        
        <p class="mt-4" style="font-size: 18px;">Don't have an account? <a href="/signup">Signup</a></p>
        
    </div>
</div>
<div class="loginImg" style=" height: 100vh;">
  <img  src="https://www.shutterstock.com/image-vector/man-customer-standing-near-cashier-600nw-1697731288.jpg" 
  style="height: 100vh; width: 100%;">
</div>
</div>
