<% layout("/layouts/boilerplate") %>
    <%- include("../includes/flash.ejs")%>

<div class="login">
  <div class="loginImg" style=" height: 100vh;">
  <img  src="https://www.shutterstock.com/image-vector/man-customer-standing-near-cashier-600nw-1697731288.jpg" 
  style="height: 100vh; width: 100%;">
</div>
<div class="loninForm" style=" height: 100vh; width: 70%;"> 
    <div class="marginDiv"  style=" margin: 10rem 5rem;">
    <h3 style="margin-bottom: 2rem;" >SignUp on CureCorner</h3>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-4">
          <label for="username" class="form-label">Username</label>
          <input
            name="username"
            id="username"
            type="text"
            class="form-control"
            style="border-color: gray;"
            required
          />
          <div class="valid-feedback">
              Looks good!
          </div>
        </div>
            <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input
            name="email"
            id="email"
            type="email"
            class="form-control"
            style="border-color: gray;"
            required
          />
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input
            name="password"
            id="password"
            type="password"
            class="form-control"
            style="border-color: gray;"
            required
          />
        </div>
        <button class="btn btn-success mb-4">SignUp</button>
        </form>
    </div>
</div>

</div>
